@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
/* 
    Basic Settings 
*/

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.6rem;
    background-color: rgb(0, 105, 70); /* Colour code from https://encycolorpedia.com/teams/rugby-union/international/ireland */
    font-family: 'Open Sans', sans-serif;
}

/* 
    Search Bar
*/

/*.top-section {
    background-color: rgb(0, 105, 70); 
}*/

.search-wrapper {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.search-bar {
    background-color: rgb(0, 105, 70);
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}

::placeholder {
    color: #fff;
    opacity: 1; /* Firefox-specific */
}

.search-bar:focus {
    outline: none;
    border-bottom: 2px solid #fff;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 1rem;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #fff;
    color: rgb(0, 105, 70);
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.2);
    transition: all .75s;
}

.search-button:hover {
    transform: scale(1.1);
}

/*
    Fixture Section
*/

.fixture-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    background: url(../img/ireland-aviva.jpg) no-repeat fixed 63% 95%;
    background-color: rgb(0, 105, 70);
    background-blend-mode: screen;
}

.fixture,
.clock {
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 2rem;
    font-weight: bold;
    font-size: 3rem;
    width: 60%;
    border-radius: 5px;
}

.clock {
    display: none;
}

.fixture-teams {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.fixture-teams span:nth-of-type(3) {
    margin: .5rem;
}

.fixture-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.4;
    letter-spacing: 0.3px;
}

.home-score,
.away-score {
    display: none;
}

/*
    Links Section
*/

.links-section {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 600px;

}

.discussion-card {
    background: rgba(255,255,255,0.7);
    border-radius: 10px;
    flex: 1 1 275px;
    margin: 2rem;
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.2);
}

.card-header {
    text-align: center;
    font-variant: small-caps;
    font-family: 'Roboto', sans-serif;
}

.discussion-card > h1 {
    margin: 0;
    padding: 2rem 0rem;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.discussion-card > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card-list > li {
    padding: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    cursor: pointer;
    font-size: 1.8rem;
    display: flex;
}

.card-list > li:hover {
    background-color: rgba(255,255,255,0.3);
}

.card-list a {
    flex-basis: 100%;
    text-decoration: none;
    color: initial;
}

/*
    Media Queries
*/

@media screen and (min-width: 768px) {
    .search-bar {
        width: 30%;
    }
    
    .fixture-wrapper {
        height: 45vh;
        background: url(../img/ireland-aviva.jpg) no-repeat fixed 60% 105%;
        background-color: rgb(0, 105, 70);
        background-blend-mode: screen;
    }
    
    .fixture-teams {
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 1rem;
    }

    .fixture {
        padding: 4rem;
    }
}

@media screen and (min-width: 952px) {
    .links-section {
        height: 45vh;
    }
}